.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal normal normal 14px Open Sans;

    .heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: #111111;
        width: 100%;
        min-height: 119px;
        font: normal normal normal 20px Open Sans !important;
    }
}